<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  {% if error %}
    <p class='error'><strong>Error: </strong>{{ error }}
  {% endif %}
  <body>
    <form method='post' action=''>
      Gebruikersnaam:<br>
      <input type='text' name='username'><br>
      Wachtwoord:<br>
      <input type='text' name='password'><br>
      Klaslokaal:<br>
      <input type='text' name='classRoom'><br>
      <input type="hidden" value="{{ request.args.get('next', '') }}"/>
      <input type='submit' name='submit'>
    </form>
  </body>
</html>
