<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Welkom <b>{{ username }}</b></h1>
    <p>U bent nu in klaslokaal: <b>{{ classRoom }}</b></p>
    Gevoeligheid:
    <form action='' method='post'>
      <select name='maxValue'>
        <option value='140,170'>laag</option>
        <option value='110,140'>midden</option>
        <option value='95,110'>hoog</option>
      </select>
      <br>
    <input type='submit'>
    </form>
    <br>
    <form action='/' method='get'>
      <input type='submit' value='Log uit'/>
    </form>

  </body>
</html>
