<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5" >
    <title></title>
  </head>
  <body>

    <h1>Hallo {{ username }}</h1>
    <h2>De huidige meting is {{ value[0] }} decibel op {{ value[1] }}</h2>
    <table>
      <th>ID</th>
      <th>Decibel</th>
      <th>tijd</th>
      {% for i in range(rows | count) %}
        <tr>
          <td>{{ rows[i][0] }}</td>
          <td>{{ rows[i][1] }}</td>
          <td>{{ rows[i][2] }}</td>
        </tr>
      {% endfor %}
  </body>
</html>
